@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100vw;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.wrapper {
  border: 1px solid rgba(189, 189, 189, 1);
  border-radius: 24px;
  padding: 45px 60px;
  margin: 20px;
}

.sign-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.title {
  max-width: 30ch;
  font-size: 18px;
}

.subtitle {
  max-width: 40ch;
  font-size: 16px;
  margin: 14px 0 36px 0;
}

input,
button {
  display: block;
  width: 100%;
}

input {
  padding: 12px 12px;
  border: 1px solid rgba(189, 189, 189, 1);
  border-radius: 8px;
  margin: 14px 0;
}

button {
  background-color: rgba(47, 128, 237, 1);
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 7px 0;
  border-radius: 8px;
  margin: 24px 0;
}

.member-link {
  text-align: center;
  color: rgba(130, 130, 130, 1);
  font-size: 14px;
}

.member-link a {
  color: rgba(45, 156, 219, 1);
}

.desc-title {
  font-size: 36px;
  text-align: center;
  line-height: 68px;
}

.desc-subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 48px;
}

.desc-wrapper {
  padding: 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.description {
  border-bottom: 1px solid rgba(211, 211, 211, 1);
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  align-items: center;
}

.info p {
  font-size: 24px;
  font-weight: bold;
}

.info span {
  color: rgba(130, 130, 130, 1);
  font-size: 13px;
}

.edit-btn a {
  color: rgba(130, 130, 130, 1);
  border: 1px solid rgba(130, 130, 130, 1);
  border-radius: 12px;
  padding: 10px 32px;
}

.name {
  border-bottom: 1px solid rgba(211, 211, 211, 1);
}

.name,
.email {
  font-size: 13px;
  color: rgba(189, 189, 189, 1);
  padding: 30px 50px;
  display: flex;
}

.name span,
.email span {
  display: block;
  width: 30%;
}

.user-data {
  width: 70%;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.edit-data-form {
  padding: 30px 50px;
}

.logout-btn a {
  background-color: rgba(47, 128, 237, 1);
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 7px 14px;
  border-radius: 8px;
  position: absolute;
  top: 20px;
  right: 20px;
}
